<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<object th:include="fragments/fragment :: header" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"
	></nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<h1>Sistem Informasi Kepegawaian</h1>
			</div>
			<div class="col-md-4"></div>
		</div>
		<br><br>
		<h3>Selamat datang di Sistem Informasi Kepegawaian</h3>
		<br><br>
		<div class="row">
			<div class="col-md-4">
				<h3 class="card-header" style="text-align:center"> Lihat Data Pegawai berdasarkan NIP
				</h3>
				<br>
				<div>
					<div class="card">
						<div class="card-header" style="text-align:center">
							Masukan Nomor Induk Pegawai
						</div>
						<form th:action="@{/pegawai}" method="GET">
							<div class="card-body">
								<input type="text" name="nip" class="form-control">
								<p></p>
								<div class="row">
									<div class="col-md-12" style="text-align:center">
										<button type="submit" class="btn btn-primary">Lihat</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<h3 class="card-header" style="text-align:center"> Lihat Detail Jabatan
				</h3>
				<br>
				<div>
					<div class="card">
						<div class="card-header" style="text-align:center">
							Pilih Jabatan
						</div>
						<br><br>
						<form th:action="@{/jabatan/view}" method="GET">
							<br>
							<div class="col-md-12" style="text-align:center">
								<select name="idJabatan">
								    <option th:each="jabatan : ${listJabatan}" th:value="${jabatan.id}" th:text="${jabatan.nama}"/>
								</select>
							</div>
							<br>	
							<div class="row">
								<div class="col-md-12" style="text-align:center">
									<button type="submit" class="btn btn-primary">Lihat</button>
								</div>
							</div>
							<br>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<h3 class="card-header" style="text-align:center"> Lihat Pegawai Termuda dan Tertua
				</h3>
				<br>
				<div>
					<div class="card">
						<div class="card-header" style="text-align:center">
							Pilih Instansi
						</div>
						<br><br>
						<form th:action="@{/pegawai/termuda-tertua}" method="GET">
							<br>
							<div class="col-md-12" style="text-align:center">
								<select name="idInstansi">
								    <option th:each="instansi : ${listInstansi}" th:value="${instansi.id}" th:text="${instansi.nama}"/>
								</select>
							</div>
							<br>
							<div class="row">
								<div class="col-md-12" style="text-align:center">
									<button type="submit" class="btn btn-primary">Lihat</button>
								</div>
							</div>	
							<br>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	$(document).ready(function () {
		$("#home").addClass("active");     
	});
	</script>
</body>
</html>