<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Detail Pegawai</title>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"
	></nav>
	
	<h2 th:text="'Lihat Data Pegawai - ' + ${pegawai.nip}"></h2>
	<h3 th:text="'NIP 					: ' + ${pegawai.nip}"></h3>
	<h3 th:text="'Nama 					: ' + ${pegawai.nama}"></h3>
	<h3 th:text="'Tempat Lahir 			: ' + ${pegawai.tempat_lahir}"></h3>
	<h3 th:text="'Tanggal Lahir 		: ' + ${pegawai.tanggal_lahir}"></h3>
	<h3 th:text="'Tahun Masuk			: ' + ${pegawai.tahun_masuk}"></h3>
	<h3 th:text="'Nama Instansi			: ' + ${pegawai.instansi.nama}"></h3>
	<h3 th:text="'Jabatan				: '"></h3>
	<h3 th:each="jabatan : ${listjabatan}" th:text="${jabatan.jabatan.nama}"></h3>
	<br>
	<h3 th:text="'Gaji : Rp '+ ${gaji} " ></h3>
	<td><a th:href="@{'/pegawai/ubah/'+ ${pegawai.id}}">Ubah </a></td>
</body>
</html>