<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<object th:include="fragments/fragment :: header" th:remove="tag"></object>
	</head>
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		<div class="container">
			<br>
			<h2 class="card-header" style="text-align:center">Tambah Pegawai</h2>	
			<form th:action="@{/pegawai/tambah}" th:object="${pegawai}" method="POST">
				<p>
				<div class="row">
					<label class="col-lg-4" for="nama">Nama</label>
					<div class="col-lg-8">
						<input class="form-control" type="text" name="nama" required>
					</div>
				</div>
				<p>
				<div class="row">
					<label class="col-lg-4" for="tempatLahir">Tempat Lahir</label>
					<div class="col-lg-8">
						<input class="form-control" type="text" name="tempatLahir" required>
					</div>
				</div>
				<p>
				<div class="row">
					<label class="col-lg-4" for="tanggalLahir">Tanggal Lahir</label>
					<div class="col-lg-8">
						<input class="form-control" type="Date" name="tanggalLahir" th:value="*{tanggalLahir}" required>
					</div>
				</div>
				<p>
				<div class="row">
					<label class="col-lg-4" for="tahunMasuk">Tahun Masuk</label>
					<div class="col-lg-8">
						<input class="form-control" type="number" name="tahunMasuk" step="1" required>
					</div>
				</div>
				<p>
				<div class="row">
					<label class="col-lg-4" for="provinsi">Provinsi</label>
					<div class="col-lg-8">
						<select class="form-control" id="provinsi" name="provinsi" required>
						    <option th:each="provinsi : ${listProvinsi}" th:value="${provinsi.id}" th:text="${provinsi.nama}" />
						</select>
					</div>
				</div>
				<p>
				<div class="row">
					<label class="col-lg-4" for="instansi">Nama Instansi</label>
					<div class="col-lg-8">
						<select class="form-control" name="instansi" th:value="*{instansi}" id="instansi" required>
						    <option th:each="instansi: ${listInstansi}" th:value="${instansi.id}" th:text="${instansi.nama}"/>
						</select>
					</div>
				</div>
				<p>
				<div class="row">
					<label class="col-lg-4">Jabatan</label>
					<div class="col-lg-8">
						<div th:each="jabatanPegawai, statusJabatan : *{listJabatanPegawai}" >
							<select th:field="*{listJabatanPegawai[__${statusJabatan.index}__].jabatan}" class="form-control" required>
							    <option th:each="jabatan, status : ${listJabatan}" th:value="${jabatan.id}" th:text="${jabatan.nama}"/>
							</select><br>
						</div>
						<button class="btn" type="submit" name="tambahJabatanLain" formnovalidate>Tambah Jabatan Lainnya</button>
					</div>
				</div>
				<button class="btn btn-primary" type="submit">Simpan</button>
			</form>
		</div>
		
	<script type="text/javascript">
	$(document).ready(function () {
		$("#tambahPegawai").addClass("active");   
	    $("#provinsi").change(function () {

            $.getJSON("/instansi/tambah", {
                provinsiId : $(this).val(),
                ajax : 'true'
            }, function(data) {
                var html = '';
                var len = data.length;
                for ( var i = 0; i < len; i++) {
                    html += '<option value="' + data[i].id + '">'
                            + data[i].nama + '</option>';
                }
                html += '';
                console.log("berhasil");
                $('#instansi').html(html);
            });
	    });    
	        
	});
	</script>	
	</body>
</html>