<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Detail Pegawai</title>
</head>
<body>
	<h2>Data Pegawai Termuda</h2>
	<h3 th:text="'NIP : ' + ${flight.time}"></h3>
	<h3 th:text="'Nama : ' + ${flight.origin}"></h3>
	<h3 th:text="'Tempat Lahir : ' + ${flight.destination}"></h3>
	<h3 th:text="'Tanggal Lahir : ' + ${pilot.name}"></h3>
	<h3 th:text="'Tahun Masuk: ' + ${pilot.licenseNumber}"></h3>
	<h3 th:text="'Nama Instansi: ' + ${pilot.licenseNumber}"></h3>
	<h3 th:text="'Jabatan: ' + ${pilot.licenseNumber}"></h3>
	<h3 th:text="'Gaji : ' + ${pilot.licenseNumber}"></h3>
	<br>

	<h2>Data Pegawai Tertua</h2>
	<h3 th:text="'NIP : ' + ${flight.time}"></h3>
	<h3 th:text="'Nama : ' + ${flight.origin}"></h3>
	<h3 th:text="'Tempat Lahir : ' + ${flight.destination}"></h3>
	<h3 th:text="'Tanggal Lahir : ' + ${pilot.name}"></h3>
	<h3 th:text="'Tahun Masuk: ' + ${pilot.licenseNumber}"></h3>
	<h3 th:text="'Nama Instansi: ' + ${pilot.licenseNumber}"></h3>
	<h3 th:text="'Jabatan: ' + ${pilot.licenseNumber}"></h3>
	<h3 th:text="'Gaji : ' + ${pilot.licenseNumber}"></h3>
	<br>
	
	
</body>
</html>