<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<object th:include="fragments/fragment :: header" th:remove="tag"></object>
</head>
<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<h2>Ubah Pegawai</h2>
	<form th:action="@{/pegawai/ubah}" th:object="${pegawai}" method="POST">
		<input type="hidden" th:value="${pegawai.id}" >
				<p>
				<div class="row">
					<div class="col-lg-4">Nama</div>
					<div class="col-lg-4">
						<input type="text" name="nama" th:value="${pegawai.nama}">
					</div>
				</div>
				<p>
				<div class="row">
					<div class="col-lg-4">Tempat Lahir</div>
					<div class="col-lg-4">
						<input type="text" name="tempatLahir" th:value="${pegawai.tempatLahir}">
					</div>
				</div>
				<p>
				<div class="row">
					<div class="col-lg-4">Tanggal Lahir</div>
					<div class="col-lg-4">
						<input type="Date" name="tanggalLahir" th:value="*{tanggalLahir}">
					</div>
				</div>
				<p>
				<div class="row">
					<div class="col-lg-4">Tahun Masuk</div>
					<div class="col-lg-4">
						<input type="number" name="tahunMasuk" step="1" th:value="${pegawai.tahunMasuk}">
					</div>
				</div>
				<p>
				<div class="row">
					<div class="col-lg-4">Provinsi</div>
					<div class="col-lg-4">
						<select id="IdProvinsi" name="provinsi">
						    <option th:each="provinsi : ${listProvinsi}" th:value="${provinsi.id}" th:text="${provinsi.nama}"  th:selected="${provinsi.id==pegawai.instansi.provinsi.id}" />
						</select>
					</div>
				</div>
				<p>
				<div class="row">
					<div class="col-lg-4">Nama Instansi</div>
					<div class="col-lg-4">
						<select id="IdInstansi" name="instansi" th:value="*{instansi}" id="instansi" >
						    <option th:each="instansi: ${listInstansi}" th:value="${instansi.id}" th:text="${instansi.nama}" th:selected="${instansi.id==pegawai.instansi.id}" />
						</select>
					</div>
				</div>
				<p>
				<div class="row">
					<div class="col-lg-4">Jabatan</div>
					<div class="col-lg-8" th:each="jabatanPegawai, statusJabatan : *{listJabatanPegawai}" >
						<select th:field="*{listJabatanPegawai[__${statusJabatan.index}__].jabatan}" class="col-lg-12">
						    <option th:each="jabatan, status : ${listJabatan}" th:value="${jabatan.id}" th:text="${jabatan.nama}"/>
						</select>		
					</div>
				</div>
				<br><button type="submit" name="tambahJabatanLain">Tambah Jabatan Lainnya</button>
				<button type="submit">Simpan</button>
	</form>
	<script type="text/javascript">
	$(document).ready(function () {
	    $("#IdProvinsi").change(function () {
	            $.getJSON("/instansi/tambah", {
	                provinsiId : $(this).val(),
	                ajax : 'true'
	            }, function(data) {
	                var html = '';
	                var len = data.length;
	                for ( var i = 0; i < len; i++) {
	                    html += '<option value="' + data[i].id + '">'
	                            + data[i].nama + '</option>';
	                }
	                html += '';
	                console.log("berhasil");
	                $('#IdInstansi').html(html);
	            });
	    });    
	        
	});
	</script>
</body>
</html>